 body {
                /* Use the background_image URL from the Menu_Type model */
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
                color: white;
            }